html {
	background-color: white;
	padding: 0px;
	margin: 0px;
	border-top: 8px solid #660d20;
}

body {
	margin: 0px;
	padding: 5% 10%;
	border-top: 12px solid #cd1b40;
	font-size: 18px;
}

* {
	font-family: Cabin, Arial, sans-serif;
}

h1 {
	text-align: center;
}

hr {
	width: 10%;
}
