html#frontpage {
	background: #f18903 url(/images/logo1-1024x327.png) top center no-repeat;
}

html#frontpage body {
	margin: 270px 0px 0px 0px;
	background-color: white;
}

body {
	font: normal 1.4em/1.5em "Cabin", arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bitter", "Palatino", "Georgia", serif;
	font-weight: 700;
}

html#frontpage > body > article > header > hgroup {
	display: none;
}

body article {
	padding: 2em;
	margin: 0px auto;
	width: 70%;
	max-width: 1400px;
}

section#focuslist ul {
 	display: table;
 	text-align: center;
 	font-size: smaller;
}

section#focuslist ul li {
	padding: 2ex;
 	display: table-cell;
}

nav {
	background: rgba(32, 32, 32, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9995;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

nav, nav ul {
	font-size: smaller;
}

nav, nav a {
	color: white;
	text-decoration: none;
}

nav a:active {
	background-color: black;
}

nav ul {
	display: block;
}

nav ul li {
	position: relative;
	display: inline-block;
	list-style: none;
	margin: 0.2ex 1.2ex;
	text-align: center
}
