html {
	background-color: #f18903;
}

html#frontpage {
	background-image: url(/images/orange-skyline-logoed.png);
	background-position: center -5vh;
	background-size: 100vw;
	background-repeat: no-repeat;
}

html body {
	margin: 16px 0px 0px 0px;
	background-color: white;
	min-height: 90vh;
	border-top: #f6b973 solid 0.4ex;
}

html#frontpage body {
	margin: 25vw 0px 0px 0px;
}

body {
	font: normal 1.4em/1.5em "Cabin", arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bitter", "Palatino", "Georgia", serif;
	font-weight: 700;
	margin-top: 4ex;
}

html > body > article > header {
	font-size: larger;
}

html#frontpage > body > article > header > hgroup {
	display: none;
}

body article {
	padding: 2em;
	margin: 0px auto;
	width: 70%;
	max-width: 1400px;
}

html#frontpage > body > article {
	margin-top: -80px;
}

a[name], h1[id], h2[id] {
	/* margin-top; -40px; */
	padding-top: 40px;
}

article > section {
	margin-top: 2em;
	/* border-top: 1px solid silver; */
}

section#focuslist ul {
 	display: table;
 	text-align: center;
 	font-size: smaller;
}

section#focuslist ul li {
	padding: 2ex;
 	display: table-cell;
 	width: 2%; /* with display table-cell, a value here triggers a layout pass that makes them equal sized. */
}

section#focuslist ul li {
	line-height: 2.6ex;
}


@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

nav {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
	animation-delay: 0.5s;

	background: rgba(32, 32, 32, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9995;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	text-align: center;
}

nav, nav ul {
	font-size: smaller;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav a {
	color: white !important;
	text-decoration: none;
	padding: 0.5ex 1.2ex;
}

nav a:hover {
	background-color: black;
}

nav ul {
	display: block;
}

nav ul li {
	position: relative;
	display: inline-block;
	list-style: none;
	text-align: center
}

iframe.videoframe {
	background: #222;
	border: solid #f6b973 0.3ex;
	padding: 2ex;
	margin-right: auto;
	margin-left: auto
}

img#topheaderlogo {
	position: absolute;
	top: 16px;
	right: 0px;
	background: #f18903;
	border-bottom: solid #f6b973 0.4ex;
	border-left: solid #f6b973 0.4ex;
}

a:link {
	color: hsla(36, 100%, 40%, 1);
}

a:visited {
	color: hsla(36, 100%, 20%, 1);
}

a:active {
	color: hsla(36, 100%, 10%, 1);
}
