body {
	font: normal 1.4em/1.5em 'Cabin', arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

body#frontpage > article > header {
	background: #f18903; url(/images/logo1-1024x327.png) top center no-repeat;
	height: 170px;
}

body#frontpage > article > header hgroup {
	display: none;
}

body article {
	margin: 2ex auto;
	width: 80%;
}

section#focuslist ul {
 	display: table;
}

section#focuslist ul li {
 	display: table-cell;
}

nav {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9995;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	font-size: smaller;
}

nav, nav a {
	color: white;
	text-decoration: none;
}

nav a:active {
	background-color: black;
}

nav ul {
	display: block;
}

nav ul li {
	position: relative;
	display: inline-block;
	list-style: none;
	margin: 0.2ex 1.2ex;
	text-align: center
}
