html#frontpage {
	background: #f18903 url(/images/logo1-1024x327.png) top center no-repeat;
}

html#frontpage body {
	padding: 220px 0px 0px 0px;
	background-color: green;
}

body {
	background: white;
	font: normal 1.4em/1.5em 'Cabin', arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

html#frontpage > body {
	background-color: blue;
	margin: 5ex 15% 2% 15%;
}

html#frontpage > body > article > header > hgroup {
	display: none;
}

body article {
	margin: 2ex auto;
	width: 80%;
}

section#focuslist ul {
 	display: table;
}

section#focuslist ul li {
 	display: table-cell;
}

nav {
	background: rgba(32, 32, 32, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9995;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	font-size: smaller;
}

nav, nav a {
	color: white;
	text-decoration: none;
}

nav a:active {
	background-color: black;
}

nav ul {
	display: block;
}

nav ul li {
	position: relative;
	display: inline-block;
	list-style: none;
	margin: 0.2ex 1.2ex;
	text-align: center
}
